* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    width: 90%;
    background-color: black;
    color: white;
    padding: 13px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}